.p1
{
    text-align: center;
    color: red;
}

.p2
{
    text-align: center;
    color: blue;

}

.heading0
{
    color:red;
    font: times;


}

.container{
    white-space: pre-line;
}
body {
    background: green;
}

.heading {
    width:80%;
    font-size:22px
}
.mobilenetlist1{
    position:absolute;
    top: 90px;
}
.azurelist2{
    position:absolute;
    top: 90px;
    right:100px;

}

.names_of_objects, #result_object_name, #result_object_accuracy{
    color: orange;
}

#camera {
    border:2px dashed black;
    width: 350px;
    height: 300px;
}

.heading{
    font-size:23px;
    width:800px;
    white-space: pre-line;
}

.heading2{
    left:1000px;
    font-size:23px;
    width:800px;
    white-space: pre-line;
}
.Image{
    width:200px;
    box-shadow: 8px 5px 7px yellow;
}
